# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
.venv/
.env/

# VSCode workspace settings
.vscode/

# macOS hidden files
.DS_Store

# Environment variables and credentials
*.env
*.secret
config.json

# Logs and database files
*.log
*.sql
*.sqlite3

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.tar.gz

# C extensions
*.so

# Testing cache
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Other
*.bak
*~
